<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-green-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Master Cleanse Reliac Heirloom</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn
        asymmetrical
        gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing
        selfies
        heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap">
      <div class="lg:w-4/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <div class="container px-5 mx-auto">
          <div class="flex flex-wrap -m-4">
            <app-card class="lg:w-1/4 md:w-1/2 p-4 w-full" [item]="item" *ngFor="let item of data$ | async"></app-card>
          </div>
        </div>
      </div>
      <div class="lg:w-1/6 md:w-1/2 bg-gray-100 rounded-lg p-4 flex flex-col md:ml-auto w-full">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Pesquisa</h2>
        <div class="relative mb-4">
          <label for="full-name" class="leading-7 text-sm text-gray-600">Nome</label>
          <input [formControl]="name" type="text" id="full-name" name="full-name"
            class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="price" class="leading-7 text-sm text-gray-600">Preço</label>
          <input [formControl]="price" type="text" id="price" name="price"
            class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <p class="leading-relaxed text-base">Item: {{count$ | async}}</p>
        </div>
      </div>
    </div>
  </div>
</section>